@model EasyEnglish.Web.ViewModels.Administration.Courses.CreateResourceInputModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div id="CourseTypesContainer">
                <label asp-for="CourseTypes"></label>
                <a class="btn btn-success" onclick="AddMoreCourseTypes()">AddCourseType</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back All Resources</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var courseTypeIndex = 0;
        function AddMoreCourseTypes() {
            $("#CourseTypesContainer").
                append("<div class='form-control'>CourseType: <input type='text' name='CourseTypes[" + courseTypeIndex + "].Description' /> </div>");
            courseTypeIndex++;
        }
    </script>
}
