<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Starter Pages
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="Languages" asp-action="Index" />
                  <i class="far fa-circle nav-icon"></i>
                  <p>Languages</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="Levels" asp-action="Index" />
                  <i class="far fa-circle nav-icon"></i>
                  <p>Levels</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="CourseTypes" asp-action="Index" />
                  <i class="far fa-circle nav-icon"></i>
                  <p>Course Types</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="TrainingForms" asp-action="Index" />
                  <i class="far fa-circle nav-icon"></i>
                  <p>Training Forms</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Courses" asp-action="Index" />
              <i class="nav-icon fas fa-th"></i>
              <p>
                Courses
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Resources" asp-action="Index" />
              <i class="nav-icon fas fa-th"></i>
              <p>
                Resources
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Messages" asp-action="Index" />
              <i class="nav-icon fas fa-th"></i>
              <p>
                Messages
              </p>
            </a>
          </li>
        </ul>
      </nav>