<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">      
      <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Courses" asp-action="Index" />
          <i class="nav-icon fas fa-th"></i>
          <p>
            Courses
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Students" asp-action="Index" />
          <i class="nav-icon fas fa-th"></i>
          <p>
            Students
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Resources" asp-action="Index" />
          <i class="nav-icon fas fa-th"></i>
          <p>
            Resources
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Messages" asp-action="Index" />
          <i class="nav-icon fas fa-th"></i>
          <p>
            Messages
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Emails" asp-action="Send" />
          <i class="nav-icon fas fa-th"></i>
          <p>
            Emails
          </p>
        </a>
      </li>
    </ul>
</nav>